
* {
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden;
    background-color: #DDDDDD;
    display: none;
}


#bg {
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
}
#bgScene {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    transition: all ease-out 800ms;
}
#bgMan {
    height: auto;
    width: 16%;
    margin-left: 45%;
    position: absolute;
    bottom: 0;
    transition: all ease-out 500ms;
}
#bgShadow {
    height: auto;
    width: 34%;
    margin-left: 27.5%;
    position: absolute;
    bottom: 0;
    transform: scaleX(-1);
    filter: FlipH;
    opacity: 0.2;
    transition: all ease-out 800ms;
}

.hide#bgScene {
    transform: translateY(100%);
}
.hide#bgMan {
    transform: translateY(100%);
}
.hide#bgShadow {
    opacity: 0;
    transform: scaleX(-1) translateX(-200px);
}
.show#bgScene, .show#bgMan {
    transform: translateY(0);
}
.show#bgShadow {
    transform: scaleX(-1) translateY(0);
}


#logo {
    z-index: 2;
    position: relative;
    width: 3%;
    margin: 50px 15px 0 calc(45.5% - 15px);
    transition: all ease-out 600ms;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.1))
}
#logoText {
    z-index: 2;
    position: relative;
    width: 6.5%;
    transition: all ease-out 600ms;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.4))
}

.hide#logo, .hide#logoText {
    transform: translateY(-100%);
}
.show#logo, .show#logoText {
    transform: translateY(0);
}


#text0, #text1, #textSymbol {
    color: white;
    font-size: 0.9em;
    font-weight: lighter;
    position: absolute;
    z-index: 2;
}
#text0 {
    left: calc(50% - 35px);
    top: calc(48% + 105px);
    transition: all ease-out 600ms;
}
#text1 {
    left: calc(50% + 15px);
    top: 48%;
    transition: all ease-out 600ms;
}
#textSymbol {
    left: calc(50% - 15px);
    top: calc(48% + 70px);
    font-size: 2em;
    transform: rotate(-60deg);
    transition: all ease-out 600ms;
}

.hide#text0 {
    transform: translateY(100px);
}
.hide#text1 {
    transform: translateY(-100px);
}
.show#text0, .show#text1 {
    transform: translateY(0);
}

#buttons {
    width: 100%;
    position: absolute;
    margin-top: 30px;
    z-index: 2;
}
.button {
    display: block;
    width: 64px;
    height: 26px;
    margin-left: calc(50% - 32px);
    margin-bottom: 20px;
    line-height: 20px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 60px;
    color: white;
    font-size: 0.9em;
    font-weight: lighter;
    cursor: pointer;
    transition: all ease-out 600ms;
}
.button:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
#downloads {
    width: 100%;
    margin: 0 auto 20px auto;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: all ease 600ms;
}
#downloads .button {
    display: inline-block;
    margin: 0 20px;
}

.hide#download, .hide#github {
    transform: translateY(-200%);
}
.show#download, .show#github {
    transform: translateY(0);
}


#info {
    position: fixed;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 2;
    font-size: 0.8em;
    width: 90%;
    padding: 0 5%;
    font-weight: lighter;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#info p {
    display: inline-block;
    padding: 2px 0;
    margin: 3px 0;
}
#info a {
    color: white;
    border-bottom: solid 1px rgba(255, 255, 255, 0.8);
    text-decoration: none;
}


.hide {
    opacity: 0;
    transform: scale(0);
}
.show {
    opacity: 1;
    transform: scale(1);
}

